  {% extends  "base.html" %}
   <style>
<!--        .clickable{-->
<!--              cursor: pointer;-->
<!--            },-->
            body{
        background-color : #ccc;
       }
    </style>
  {% load static %}
{% block contenu %}

  <div class="row"   style="background-color: #ccc;" >
      <div class="mt-2 col-md-3">
           {% if  categories %}
              <ul class="list-group"   style="background: #ccc;" >
                  {% for  categorie in   categories %}
                  <li   class="list-group-item "  style="background-color: #ccc;">
                  <a href=" {% url 'typecategories' categorie.id %}" class="btn btn-primary">
                            {{categorie.designation}}
                  </a>
                  </li>
                  {% endfor%}
             </ul>
        {% endif %}
     </div>

 <div class="row mt-2 mb-2 col-9  "  style="background-color: #ccc;">
     <div class="col-md-12 m-auto">
         <div class="card card-body col-12 "  style="background-color: #ccc;">
               <div class="panel-heading"><h3  class="center" style="text-align: center;">LISTES DES PRODUITS</h3></div>
               <div class="mt-2 center">
                    <a class="btn btn-info pull-right mb-1"  href="{% url 'nouveau_produit' %}">Ajouter produit</a>
               </div>
             <div class="row   "   style="background-color: #ccc;">
             {% if produits %}
                 {% for produit in produits %}
                        <div class="col-md-3  "  style=' width: 18rem;'>
                          <a href=" {% url 'details' produit.id %}">
                              <!--filtre | default_if_none : "non renseigne"  -->
                            <img src="{{  produit.photo.url }}"  class="card-img-top border border-info rounded" alt="Card image cap"   height="350">
                          </a>
                            <div class="row" style="position:relative;left:14px;">
                              <span class="btn btn-primary mt-1 mb-1 pull-right"> {{produit.prixU}} FCFA</span>
                             <button data-product="{{ produit.id }}"  data-action="add" class="btn btn-info  add-btn mt-1 mb-1 update_cart">
                                  Add to Card
                                 <span class="glyphicon glyphicon-shopping-cart"></span>
                             </button>

                            </div>
                        </div>
                  {% endfor%}
                 <!-- affichage par pagination j'utilise pagination.html pour l'affichage -->
               {% include  "partiel/pagination.html" %}
             {% else %}
             <h3>Produit vide</h3>
         {% endif%}
             </div>
         </div>

     </div>
</div>

 </div>
{% endblock%}




