<nav class="navbar navbar-expand-lg  navbar-dark bg-info ">
  <a class="navbar-brand" href="{% url 'acceuil' %} ">My Apps Gestion_Stock</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- on gere dynamiquement les urls ici acceuil est declare dans url name="acceuil" -->
        <a class="nav-link" href="{% url 'acceuil' %} ">Acceuil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fournisseur</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'produit' %}">Produit</a>
      </li>
       </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'list_client' %}">Client</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="#">Commande</a>
      </li>



      <form class="form-inline my-2 my-lg-0"   action="{% url 'search_produit' %}" method="get">
      <input class="form-control mr-sm-2"  name="query" value="{{ request.GET.query }}" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span>Search</button>
    </form>

      </li>
        <li class="nav-item   pull-right  ">
          {% if request.user.is_authenticated %}
          <a class="nav-link  pull-right"   href="{% url 'logout' %}">Deconnexion</a>
          {% else %}
          <a class="nav-link  pull-right"   href="{% url 'login' %}">Connexion</a>
          {% endif %}
      </li>
    </ul>



  </div>
</nav>